<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
<body class="detail3">
	{% include nav_standardSearch.html %}
	{% include content_fullSizeBannerNoCopy.html %}
	
	<section>
	<div class="container">
		<div class="row" style="padding: 40px 0px;">
			<div class="col-sm-8">
				<section>
				<img class="img-responsive" src="/images/layout/detail-page.jpg" style="margin-bottom:20px;">
				</section>
			</div>
			
			<div class="col-sm-4">
				{% include aside2.html %}
			</div>
		</div>
	</div>
	</section>
	
	{% include footer.html %}
</body>
</html>
