<aside class="aside2">
	<div class="asideSection">
		<h2>Leo eu volutpat vehicula</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
	</div>

	<div class="asideSection">
		<h3>Leo eu volutpat vehicula</h3>
		<ul>
			<li><i class="fa fa-check-square"></i><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
			<li><i class="fa fa-check-square"></i><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
			<li><i class="fa fa-check-square"></i><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
		</ul>
	</div>
</aside>