<aside class="aside1">
	<div class="asideSection">
		<h2>Leo eu volutpat vehicula</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
	</div>

	<div class="asideSection">
		<h3>Leo eu volutpat vehicula</h3>
		<ul>
			<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
			<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
			<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
		</ul>
	</div>
		
	<div class="asideSection">
		<h3>Leo eu volutpat vehicula</h3>
		<ul>
			<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
			<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
			<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
		</ul>
	</div>

	<div class="asideSection">
		<h3>Leo eu volutpat vehicula</h3>
		<a href="#" class="smallButton blue">Lorem</a>
		<a href="#" class="smallButton blue">Ipsum dolor</a>
		<a href="#" class="smallButton blue">amet</a>
	</div>

</aside>