<section class="pageTitleNoHeader">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 pageTitle">
				<h1>Lorem ipsum dolor</h1>
				<p style="margin-top:15px;"><a href="">Tag name</a> | <a href="">Tag name</a> | <a href="">Tag name</a></p>
			</div>
			<div class="splitLines col-sm-12"></div>
		</div>
	</div>
</section>

<script>
$(document).ready(function() {
	console.log($('.navbar-default').height());
	$('.pageTitle').css({ 
		'margin-top': $('.navbar-default').height() + 40,
		'padding-bottom' : 20
	})
})
</script>