<section class="fullSizeBannerSampleCopy">
	<div id="iBanner" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid full-width-section parallax_section" style="padding:170px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="z-index:999;"><h1 style="color:#fff; font-size: 3.5em;">THIS SUMMER</h1></div>
			</div>
		</div>
		<div class="row-bg-wrap">
			<div class="row-bg using-image " style="background-image: url(/images/layout/header-bg2.jpg);"></div> 
		</div>

	</div>
</section>