<section class="content3columnLeftIcons">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>
		</div>
	</div>
</section>