<section class="content4Images">
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-1.jpg">
				<div class="copyWrapper brownBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-2.jpg">
				<div class="copyWrapper orangeBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-3.jpg">
				<div class="copyWrapper purpleBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-4.jpg">
				<div class="copyWrapper cyanBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

	</div>
</div>
</section>