<section class="productListing4Col">
<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>ALL PRODUCTIONS</h1></div>
  </div>

<div class="row">
<div class="col-sm-3 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/01.jpg">
		<h2>Flying Ninja</h2>
		<p class="price"><del>&pound;15.00</del> &pound;12.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/02.jpg">
		<h2>Happy Ninja</h2>
		<p class="price">&pound;18.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/03.jpg">
		<h2>Happy Ninja</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/04.jpg">
		<h2>Ninja Silhouette</h2>
		<p class="price">&pound;20.00</p>
	</a>
</div>
</div>

<div class="row">
<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/05.jpg">
		<h2>Ninja Silhouette</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/06.jpg">
		<h2>Premium Quality</h2>
		<p class="price">&pound;20.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/07.jpg">
		<h2>Patient Ninja</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/08.jpg">
		<h2>Premium Quality</h2>
		<p class="price"><del>&pound;15.00</del> &pound;12.00</p>
	</a>
</div>
</div>

<div class="row">
<div class="col-sm-3 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/09.jpg">
		<h2>Ninja Silhouette</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">

		<img class="img-responsive" src="/images/shop/layout2/10.jpg">
		<h2>Premium Quality</h2>
		<p class="price">&pound;20.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/11.jpg">
		<h2>Patient Ninja</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-3 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/12.jpg">
		<h2>Premium Quality</h2>
		<p class="price"><del>&pound;15.00</del> &pound;12.00</p>
	</a>
</div>
</div>

<div class="row">
<nav class="text-center">
	<ul class="pagination">
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
		<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
 </nav>
</div>

</div>
</section>