
    
<div class="media reviewItem">
  <div class="media-left">
    <a href="#">
      <img class="media-object" alt="64x64" src="/images/shop/detail/thumb_01.jpeg" data-holder-rendered="true">
    </a>
  </div>
  <div class="media-body">
     <div class="ranks">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>  
    </div>
    <p class="date">Cobus Bester - June 7, 2013:</p>
    <p>Really happy with this print. The colors are great, and the paper quality is good too.</p>
  </div>
</div>
<!-- review 1 -->

<div class="media reviewItem">
  <div class="media-left">
    <a href="#">
      <img class="media-object" alt="64x64" src="/images/shop/detail/thumb_02.jpeg" data-holder-rendered="true">
    </a>
  </div>
  <div class="media-body">
     <div class="ranks">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>  
    </div>
    <p class="date">Andrew - June 7, 2013:</p>
    <p>You only get the picture, not the person holding it, something they don’t mention in the description, now I’ve got to find my own person</p>
  </div>
</div>
<!-- review 2 -->

<div class="media reviewItem">
  <div class="media-left">
    <a href="#">
      <img class="media-object" alt="64x64" src="/images/shop/detail/thumb_03.png" data-holder-rendered="true">
    </a>
  </div>
  <div class="media-body">
     <div class="ranks">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>  
    </div>
    <p class="date">Cobus Bester - June 7, 2013:</p>
    <p>Really happy with this print. The colors are great, and the paper quality is good too.</p>
  </div>
</div>
<!-- review 3 -->

