.aside2{
	h1, h2, h3, h4, h5, h6{
		color: #676767;
		margin-bottom: 30px;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.1em;
	}
	.asideSection{
		margin-bottom: 40px;
		ul{
			list-style: none;
			padding-left: 0px;
			li{
				padding-left: 25px;
  				position: relative;
				border-bottom: 1px solid #d2d2d2; 
				margin-bottom: 10px;
				padding-bottom: 10px;
				i{
					position: absolute;
					top: 3px;
					left: 0px;
					color: $base-main-color;
				}
				a{
					display: block;
					clear: both;
				}
			}
		}
	}
}