.content4Images{
	.col-md-3{
		padding-left: 0px;
		padding-right: 0px;
	}
	.img-responsive{
		width: 100%;
	}
	.copyWrapper{
		padding: 20px;
		h3{
			text-transform: uppercase;
			color: #fff;
		}
	}
}