.relatedProducts{
	padding: 40px 0px;
	h2{
		margin: 20px 0px;
	}
	h3{
		margin: 20px 0px 10px 0px;
	}
	h4{
		color: $base-main-color;
		font-size: 1.2em;
	}
	.item{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.item:hover{
		background: #efefef;
	}
	.featured{
		display: block;
		position: absolute;
		top: -10px;
		right: 25px;
		@include i-round-corners(999px);
		background-color: #fe4641!important;
		padding: 15px;
		color:#fff;
		line-height: 220%;
	}
}